<div class="form_container">
  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="first_name">
      <label class="mdl-textfield__label" for="first_name">Enter first name</label>
    </div>
  </div>
  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="last_name">
      <label class="mdl-textfield__label" for="last_name">Enter last name</label>
    </div>
  </div>
  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="email">
      <label class="mdl-textfield__label" for="email">Enter email address</label>
    </div>
  </div>
  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="address">
      <label class="mdl-textfield__label" for="address">Enter address</label>
    </div>
  </div>
  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" pattern="-?[0-9]*(\.[0-9]+)?">
      <input class="mdl-textfield__input" type="text" id="card_no">
      <label class="mdl-textfield__label" for="card_no">Enter card number</label>
    </div>
  </div>
  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" pattern="-?[0-9]*(\.[0-9]+)?">
      <input class="mdl-textfield__input" type="text" id="cvv">
      <label class="mdl-textfield__label" for="cvv">Enter CVV</label>
    </div>
  </div>
</div>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent form_container">
  DONE
</button>
