.card-image {
  width: 320px;
  height: 320px;
}

.card {
  margin: 10px;
}

.card-title {
  color: white;
  font-size: medium;
}

.card-author {
  color: deepskyblue;
  font-size: small;
}
a {
  text-decoration: none;
}
