<div id="data" class="">
  <div *ngFor="let book of books; let i = index"
       class="card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand card-image" [style.background]="url(book)">
      <h4 class="mdl-card__title-text card-title">{{book.title}}</h4>
    </div>
    <div class="mdl-card__supporting-text">{{description}}</div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
         routerLink="/bookPage/{{category}}/{{book.title}}">
        View Book
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons"
        (click)="addToCart(book)">
          add_shopping_cart
        </i>
      </button>
    </div>
  </div>
</div>
