<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Books</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <app-category-page></app-category-page>
  </main>
</div>

<!--<mat-toolbar class="header">-->
  <!--<mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>-->
  <!--<mat-menu #menu="matMenu">-->
    <!--<button *ngFor="let category of categories" mat-menu-item-->
            <!--(click)="onCategorySelected(category)">{{category}}</button>-->
  <!--</mat-menu>-->

  <!--<h3 class="title">Books</h3>-->
<!--</mat-toolbar>-->

<!--<app-category-page [category]="selectedCategory">-->

<!--</app-category-page>-->
